<!DOCTYPE HTML>

<html>

<head>
  <title>I HATE JSF</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="jsf, sucks">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-darkness/jquery-ui.css"/>
  <link rel="stylesheet" href="/css/default.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://timeago.yarp.com/jquery.timeago.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>

<div id="page">
  <div id="header">
    <div id="logo"></div>
    <div id="company_name">Java ServerFaces (JSF)<br/>WTF?!</div>
    <div id="logopanel_left"></div>
    <div id="img01a"></div>
  </div>
  <div id="body">
    <a href="#" id="link-to-post">Why does JSF suck 4 U?</a>
    <%= yield %>
    <div id="add-post">
      <form id="post">
        <p><label>Nick</label><input id="nick" type="text" name="nick" value="anonymous"/></p>
        <p><label>Complaint</label><textarea id="complaint" name="text" rows="3" cols="58" width="100%"></textarea></p>
        <input id="post-clear" type="reset" style="display: none;" value="" />
      </form>
    </div>
  </div>
  <div id="facebook"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fihatejsf.com&amp;send=true&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:25px;" allowTransparency="true"></iframe></div>
  <div id="footer">
    <div id="bottom_menu"><a href="http://ihatejsf.blogspot.com">JSF Nonsenses blog</a> | <a href="http://padcom13.blogspot.com">Padcom's blog</a></div>
    <div id="bottom_addr">© 2010 Matthias Hryniszak. All Rights Reserved</div>
    <div class="bottom"></div>
  </div>
</div>

</body>

</html>
