<!DOCTYPE html>

<html ng-app="ihatejsf">

<head>
  <title>I HATE JSF</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="jsf, sucks">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>

  <!-- External libraries -->
  <script src="/js/ui-bootstrap-0.11.0.min.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="/js/moment-with-langs.min.js"></script>

  <link rel="stylesheet" href="/css/default.css"/>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://ihatejsf.blogspot.com/" target="_blank">About</a></li>
        </ul>
        <h3 class="text-muted">ihatejsf.com</h3>
      </div>

      <div class="jumbotron">
        <h1>Java Server Faces Sucks!</h1>
        <p class="lead">JSF is probably the worst Internet technology ever created. It lacks maturity, simplicity and agility but is very <em>effective</em> in the grand design and in irritatating developers.</p>

        <div ng-controller="ComplaintController">
          <p><a class="btn btn-lg btn-success" role="button" ng-click="open()">Why does JSF suck for you?</a></p>

          <script type="text/ng-template" id="add-complaint.html">
            <div class="modal-header">
              <h3 class="modal-title">JSF sucks 4 me because..</h3>
            </div>
            <div class="modal-body">
              <ng-form role="form">
                <div class="form-group">
                  <label for="author" class="control-label">Author</label>
                  <input type="text" class="form-control" name="author" ng-model="data.author">
                </div>
                <div class="form-group">
                  <label for="author" class="control-label">Complaint</label>
                  <textarea class="form-control" name="text" placeholder="What's on your mind?" ng-model="data.text" required></textarea>
                </div>
              </ng-form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              <button class="btn btn-primary" ng-click="ok()">Share with the class</button>
            </div>
          </script>
        </div>

      </div>
      <h3>JSF sucks for others because....</h3>

      <div class="row marketing">
        <div class="col-lg-12" ng-controller="PostsController as posts">
          <div ng-repeat="post in posts.posts">
            <post post="post"></post>
          </div>
        </div>
      </div>

      <div class="likeit">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fihatejsf.com&amp;send=true&amp;layout=standard&amp;width=650&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:25px;" allowTransparency="true" width="100%"></iframe>
      </div>

      <div class="footer">
        <p>&copy; 2010-2014 Matthias Hryniszak</p>
      </div>
    </div>

    <script>
var ModalDemoCtrl = function($scope, $modal, $log) {
  $scope.open = function() {
    var modalInstance = $modal.open({
      templateUrl: 'add-complaint.html',
      controller: function($scope, $modalInstance) {
        $scope.author = "Anonymous1";
        $scope.text = "";

        $scope.ok = function() {
          $modalInstance.close({ author: $scope.author, text: $scope.text });
        };

        $scope.cancel = function() {
          $modalInstance.dismiss('cancel');
        };
      }
    });

    modalInstance.result.then(function(complaint) {
      console.log("Author: " + complaint.author + "; text: " + complaint.text);
    });
  };
};
</script>

</body>

</html>

